{% extends "govuk/template.njk" %}

{% from "hmrc/components/timeout-dialog/macro.njk"     import hmrcTimeoutDialog %}

{%- set assetPath = "/assets/lib/govuk-frontend/govuk/assets" -%}
{%- set htmlLang = request.language -%}

{% block head %}
  {% block pageHead %}{% endblock %}
    {{ hmrcTimeoutDialog({
      timeout: config.timeout,
      countdown: config.countdown,
      keepAliveUrl: routes.controllers.KeepAliveController.keepAlive(lrn).url,
      signOutUrl: config.signOut
    }) }}
  {% include "includes/head.njk" %}
{% endblock %}

{% block header %}
  {{ govukHeader({
    homepageUrl: "/declare-transit-movement-cancellation-frontend",
    serviceName: messages("site.service_name"),
    serviceUrl: "/declare-transit-movement-cancellation-frontend",
    containerClasses: "govuk-width-container",
    assetsPath: "/assets"
  }) }}
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase-banner.njk" %}
{% endblock %}

{% block content %}
  {% include "includes/language-toggles.njk" %}
  {% block mainContent %}{% endblock %}
{% endblock %}

{% block bodyEnd %}
  {% block scripts %}
    {% include "includes/scripts.njk" %}
  {% endblock %}
{% endblock %}

{% block footer %}
  {% include "includes/footer.njk" %}
{% endblock %}
